body {
    padding: 30px;
}
body > #main-wrap {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.error-message {
    display: none;
}

.article-content code > div.highlight {
    padding: 0px 15px;
}