<style scoped>
    .heading h3 {
        display: inline-block;
    }
    .heading .button {
        float: right;
        position: relative;
        top: -4px;
    }
    .segment.article:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
    .meta {
        float: right;
        color: #cac8c8;
        font-style: italic;         
    }
</style>

<div class="ui segments" style="margin-top:0px">

    {{#each articles}}
    <div 
        class="ui segment article"
        onclick="ConfigArticles.goTo({{id}})">
        <div class="heading">
            <h3 class="ui header">{{title}}</h2>
            <div class="meta">
                {{formattedDate}}
            </div>

            {{!--
            <div class="ui mini icon button">
                <i class="edit icon"></i>
                Editar
            </div>
            --}}
        </div>
        <p style="white-space:pre-wrap;">{{ formattedContent }}</p>
    </div>
    {{/each}}

</div>

<script>
    var exported = function() {
        window.ConfigArticles = {}
        ConfigArticles.goTo = function(id) {
            window.location.hash = ''
            window.location.pathname = '/pages/article/' + id + '/edit'
        }
    }
</script>