<form
    name="configForm"
    class="ui form"
    data-url="/api/admin/config"
    data-method="PUT"
    onsubmit=""
>

    <div class="ui message error">
        <i class="close icon"></i>
        <div class="header">
            Erro.
        </div>
        <p></p>
    </div>

    <div class="ui grid">
        <div class="row">
            <div class="four wide column">
                <label>Título principal</label>
            </div>
            <div class="twelve wide column">
                <input type="text" name="main_title"></input>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <label>Subtítulo principal</label>
            </div>
            <div class="twelve wide column">
                <input type="text" name="main_subtitle"></input>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <label>Formatação de data</label>
            </div>
            <div class="twelve wide column">
                <input type="text" name="timestamp_format"></input>
            </div>
        </div>
        <div class="submit-block">
            <input
                class="ui button primary"
                type="submit"
                value="Salvar">
            </input>
        </div>                
    </div>

</form>


<script>
    var exported = function() {
        configForm.addEventListener('submit', function() {
            Site.submitForm(configForm)
        })
        var dataz = {{{config}}};
        Site.populateForm(configForm, dataz);
    }
</script>