<div class="ui form">

    <div class="ui grid">
        <div class="row">
            <div class="four wide column">
                <label>Título principal</label>
            </div>
            <div class="twelve wide column">
                <input type="text" name="main_title"></input>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <label>Subtítulo principal</label>
            </div>
            <div class="twelve wide column">
                <input type="text" name="main_subtitle"></input>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <label>Formatação de data</label>
            </div>
            <div class="twelve wide column">
                <input type="text" name="timestamp_format"></input>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <label></label>
            </div>
            <div class="twelve wide column"></div>
        </div>
        <div class="row">
            <div class="four wide column">
                <label></label>
            </div>
            <div class="twelve wide column"></div>
        </div>                        
    </div>

</div>