<style scoped>
    .content {
        display: flex;
    }
    .window {
        padding: 0 0 0 30px;
        flex-grow: 1;
    }
    #mainMenu {
        flex-grow: 0;
        flex-shrink: 0;        
        flex-basis: 150px;
    }
    #mainMenu .item.active {
        background-color: #f1f1f1;
    }
    h2 {
        margin-bottom: 1em;
    }
    .ui.form label {
        font-weight: bold;
    }
    .submit-block {
        width: 100%;
    }
    .submit-block .ui.button {
        margin:15px 0;
        float:right;
    }

    @media only screen and (max-width:700px) {
        .content {
            flex-wrap: wrap;
        }
    }

</style>

<div class="ui container">

    <h1 class="ui header">Admin</h1>

    <div class="content">

        <div class="ui secondary vertical pointing stackable menu" id="mainMenu">
            <a class="item" data-id="articles">Artigos</a>
            <a class="item" data-id="config">Configuração</a>
            <a class="item" data-id="change-password">Alterar senha...</a>
        </div>

        <div class="window">
        </div>

    </div>


</div>

<script>
$(function(){
    var __root = '/pages/admin/'
    var windowEl = document.querySelector('.content .window')        
    var $allItems = $('.content .menu .item')

    function selectItem(identifier) {
        var content = Site.ajaxHtml({ 
            url : __root + identifier
        }).then( function(content) {
            windowEl.innerHTML = content
            $allItems.removeClass('active')
            $allItems.filter('[data-id='+identifier+']').addClass('active')
            window.location.hash = identifier
            //UGLY CODE BELOW
            //a dom list is not an array. Must convert to.
            //Assume Array.from not available
            var _scripts = document.querySelectorAll('.window > script')
            var scripts = []
            for ( var x = 0 ; x < _scripts.length; x++ ) {
                scripts.push(_scripts[x])
            }
            scripts.forEach(function(scriptEl){
                eval(scriptEl.innerText)
                if (typeof exported !== 'undefined') exported()
            })
        })
    }

    var toSelect = String(window.location.hash).substr(1)
    selectItem(toSelect || 'articles')

    $allItems.on('click', function(){
        var identifier = this.attributes['data-id'].value
        selectItem(identifier)
    })
})
</script>