<div class="ui container">

    <h1>Alterar senha</h1>

    <form class="ui form"
        name="changePassword"
        data-url="/api/user/password-change"
        data-method="POST"
        data-redirect-to="/pages/article/list">

        <div class="ui message error">
            <i class="close icon"></i>
            <div class="header">
                Erro.
            </div>
            <p></p>
        </div>

        <div class="field">
            <label>Senha atual</label>
            <input type="password" name="currentPassword"></input>
        </div>

        <div class="field">
            <label>Nova senha</label>
            <input type="password" name="newPassword"></input>
        </div>

        <div class="field">
            <label>Confirme a nova senha</label>
            <input type="password" name="newPasswordConfirm"></input>
        </div>

        <input type="submit" class="ui button primary" value="OK"></input>
        <a class="ui button" href="#" onclick="window.history.go(-1)">
            Cancelar
        </a>

    </form>     

</div>

<script>
$(function(){
    $('.ui.form').form({
        fields : {
            currentPassword : {
                rules : [{
                    type : 'empty' ,
                    prompt : 'Preencha o campo "Senha Atual".'
                }]
            } ,
            newPassword : {
                rules : [{
                    type : 'empty' ,
                    prompt : 'Preencha o campo "Nova Senha".'
                }]
            } ,
            newPasswordConfirm : {
                rules : [
                    {
                        type : 'empty' ,
                        prompt : 'Preencha o campo "Confirme a nova senha".'
                    } ,
                    {
                        type : 'match[newPassword]' ,
                        prompt : 'As novas senhas não batem.'
                    }
                ]
            }                        
        }
    })
    Site.jsonForm(changePassword)
})
</script>