<div class="ui container">

    <h1>Redefinir senha</h1>

    <form class="ui form"
        name="newUserForm"
        data-url="/api/user/password-reset-request"
        data-method="POST"
        data-redirect-to="/pages/user/login">

        <div class="ui message error">
            <i class="close icon"></i>
            <div class="header">
                Erro.
            </div>
            <p></p>
        </div>

        <div class="ui message">
            Enviaremos o procedimento para adquirir uma nova senha em seu e-mail.
        </div>

        <div class="field">
            <label>Email</label>
            <input type="text" name="email" data-validate="empty">
        </div>

        <input type="submit" class="ui button primary" value="Enviar"></input>
        <a class="ui button" href="#" onclick="window.history.back()">
            Cancelar
        </a>

    </form>
    
</div>

<script>
$(function(){
    $('.ui.form').form({
        fields : {
            email : 'email'
        }
    })
    Site.jsonForm(newUserForm)
})
</script>