<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div class="ui container">

    <h1 style="display:inline-block">Editando artigo</h1>

    <div style="display:inline-block;float:right;" class="hide-mobile">
        <div class="ui message" style="display:flex;align-items:center;">
            <p style="flex-grow:1;margin:0 15px 0 0;">
                Os posts usam o <span style="font-weight:bold">markdown</span> para formatação.
            </p>
            <div class="ui button"
                onclick="window.open('/assets/markdown-guide.html')">
                Como usar o markdown
            </div>
        </div>
    </div>

    <form
        class="ui form" 
        name="articleForm"
        data-url="/api/article/{{article.id}}"
        data-method="PUT"
        data-redirect-to="/">

        <div class="ui message error">
            <i class="close icon"></i>
            <div class="header">
                Erro.
            </div>
            <p></p>
        </div>

        <input type="hidden" value="{{article.id}}" name="id">

        <div class="field">
            <label>Título</label>
            <input type="text" name="title" value="{{article.title}}">
        </div>

        <div class="field">
            <label>Conteúdo</label>
            <textarea name="content" id="mdContent">{{article.content}}</textarea>
        </div>

        <input type="submit" class="ui button primary" value="Salvar"/>
        <a href="#" class="ui button" onclick="window.history.back()">Cancelar</a>
        <div
            onclick="deletePost()"
            class="ui labeled icon button basic right floated">
            <i class="icon delete"></i>
            Excluir
        </a>

    </form>

</div>

<script>
$(function() {
    var editor = new SimpleMDE(
        Editor.defaultMDEConfig(document.getElementById('mdContent'))
    )
    Editor.editorHack(editor)    


    window.deletePost = function() {
        var id = articleForm.id.value
        $.ajax({
            method : 'DELETE' ,
            url : '/api/article/' + id
        }).then(() => {
            window.location.pathname = '/'
        })
        .catch( function(err) {
            $('.ui.message.error')
                .html('<p>' + (err.message || err.responseText) + '</p>')
                .show()
            $('body').animate({scrollTop:0},1000)
        })
    }

    Site.jsonForm(articleForm, {
        editData : function(data) {
            data.content = editor.value()
            return data
        }
    })


})
</script>