<h1>{{title}}</h1>
<style scoped>
    .article-heading > h3 {
        display: inline-block;
    }
    .article-heading > .buttons {
        float: right;
    }
</style>

<div>
    {{#each itens}}
    <div class="ui segment">
        <div class="article-heading">
            <h3 class="ui header">{{title}}</h3>
            <div class="buttons">
                {{#if @root.$online}}
                <a href="/pages/article/{{id}}/edit">
                    <div class="ui icon button">
                        <i class="edit icon"></i>
                    </div>
                </a>
                {{/if}}
            </div>            
        </div>
        <div class="article-content">{{{content}}}</div>
    </div>
    {{/each}}
</div>


<script>
    var ArticleList = {}


    ArticleList.logout = function() {
        Site.ajaxRequest({method:'GET', url:'/api/user/logout'}).then(() => {
            window.location.reload()
        })
    }


    $(function(){
        $('.ui.menu .ui.dropdown.item').dropdown()
    })
</script>