<style scoped>
    .article-heading  {
        display: block;
        padding: 1.5em 0;
    }
    .article-heading > .ui.header {
        display: inline-block;
    }
    .article-content {
        position: relative;
    }
    .article-content > .buttons {
        position: absolute;
        left: -65px;
    }
    .fixed.menu {
        visibility: hidden;
    }
    .ui.mhead.segment {
        min-height: 300px;
        background-image: url(/assets/bg1.jpg);
        background-size: 100%;
    }

    .mhead .ui.header {
        margin-top: 1em;
        font-size: 4em;
    }
    .post.segment {
        padding: 4em 0;
    }

    #fixedMenu {
        border: none;
        box-shadow: none;
        background: none;
    }
    #fixedMenu a {
        font-weight: bold;
    }

    @media only screen and (max-width:700px) {
        .mhead.segment {
            min-height: 200px;
        }
        .mhead .ui.header {
            margin-top: 0.5em;
            font-size: 3em;
        }        
    }
</style>

<script>
    $(function(){
        var $fixedMenu = $('.fixed.menu')
        $('.mhead').visibility({
            once : false ,
            onBottomPassed: function() {
                $fixedMenu.transition('fade in')
            } ,
            onBottomPassedReverse: function() {
                $fixedMenu.transition('fade out')
            }
        })
    })
</script>

<div class="ui inverted vertical left aligned segment mhead">

    <div class="ui borderless inverted menu" id="fixedMenu">
        {{> top-menu}}
    </div>    

    <div class="ui text container">
        <h1 class="ui inverted header">
            Blog
        </h1>
        <h2>Subtítulo</h2>
    </div>
</div>

<div>
    {{#each itens}}
    <div class="ui vertical post segment">
        <div class="ui text container">
            <div class="article-heading">                
                <h1 class="ui header">{{title}}</h1>           
            </div>
            <div class="article-content">
                <div class="buttons">
                    {{#if @root.$online}}
                    <a href="/pages/article/{{id}}/edit">
                        <div class="ui icon button">
                            <i class="edit icon"></i>
                        </div>
                    </a>
                    {{/if}}
                </div> 
                {{{content}}}
            </div>
        </div>
    </div>
    {{/each}}
</div>