<html>
<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/assets/semantic.min.css" type="text/css"></link>
    <link rel="stylesheet" href="/assets/main.css" type="text/css"></link>
    <script src="/assets/jquery-3.1.1.min.js"></script>
    <script src="/assets/semantic.min.js"></script>
    <script src="/assets/main.js"></script>
</head>
<body>
    <div id="main-wrap">
        {{{body}}}
    </div>
</body>
</html>