<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    {{#if $liveReload}}
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    {{/if}}

    <title>{{title}}</title>

    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">  

    <meta property="og:title" content="{{title}}"/>  
    <meta property="og:url" content="{{$currentUrl}}"/>
    <meta property="og:image" content="{{{$baseUrl}}}/template-media/og-image.png"/>  
    <meta property="og:description" content="{{$blogSubtitle}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">    

    <link rel="stylesheet" href="/assets/semantic.min.css" type="text/css"></link>
    <link rel="stylesheet" href="/assets/main.css" type="text/css"></link>  
    <link rel="stylesheet" href="/assets/github.css" type="text/css"></link>  
    <script src="/assets/jquery-3.1.1.min.js"></script>
    <script src="/assets/semantic.min.js"></script>
    <script src="/assets/site.js"></script>
    {{#each $scripts}}
    <script src="{{{.}}}"></script>    
    {{/each}}
</head>
<body>
    <div class="pusher">
        {{#if $online}}
        <div class="ui top fixed hidden menu">
            {{> top-menu}}
        </div>
        {{/if}}

        {{{body}}}
    </div>
</body>
</html>