<html>
<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/assets/semantic.min.css" type="text/css"></link>
    <link rel="stylesheet" href="/assets/main.css" type="text/css"></link>
    <link rel="stylesheet" href="/assets/pygments-github.css" type="text/css"></link>    
    <script src="/assets/jquery-3.1.1.min.js"></script>
    <script src="/assets/semantic.min.js"></script>
    <script src="/assets/main.js"></script>
</head>
<body>
    <div id="main-wrap">

        <div class="ui top fixed mini menu">
            <div class="right menu">
                {{#if $online}}
                    <a class="ui dropdown item">
                        {{$userName}}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="ui dropdown item">
                                <i class="dropdown icon"></i>
                                Conta
                                <div class="left menu">
                                    <div class="item" onclick="window.location.pathname='/pages/user/password-change'">
                                        Alterar senha
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="item" onclick="ArticleList.logout()">Sair</a>
                {{else}}
                    <a href="/pages/user/login" class="item">Login</a>
                {{/if}}
            </div>
        </div>

        {{{body}}}
    </div>
</body>
</html>