<html>
<head>
    {{#if $liveReload}}
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    {{/if}}

    <title>{{title}}</title>

    <meta charset="UTF-8">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">    

    <link rel="stylesheet" href="/assets/semantic.min.css" type="text/css"></link>
    <link rel="stylesheet" href="/assets/main.css" type="text/css"></link>  
    <link rel="stylesheet" href="/assets/github.css" type="text/css"></link>  
    <script src="/assets/jquery-3.1.1.min.js"></script>
    <script src="/assets/semantic.min.js"></script>
    <script src="/assets/main.js"></script>
</head>
<body>
    <div class="pusher">
        {{#if $online}}
        <div class="ui top fixed hidden menu">
            {{> top-menu}}
        </div>
        {{/if}}

        {{{body}}}
    </div>
</body>
</html>