{{#if @root.$online}}
<div class="ui container">
    {{#unless @root.$atRoot}}
        <a class="ui item" href="/">
            <i class="home icon"></i>
            <span class="hide-mobile">Início</span>
        </a>
    {{/unless}}
    <div class="right menu">
        <a class="ui item" href="/pages/article/new">
            <i class="write square icon"></i>
            <span class="hide-mobile">Novo post</span>
        </a>
        <a class="ui dropdown item">
            {{$userName}}
            <i class="dropdown icon"></i>
            <div class="menu">
                <div
                    class="ui item"
                    onclick="window.location.href=window.location.origin+'/pages/admin'">
                    Admin
                </div>
            </div>
        </a>
        <a class="item" onclick="Site.logout()">Sair</a>
    </div>
</div>
{{/if}}